#page-login-full {
    width: 100%;
    position: relative;
  }
  
  .logo {
    width: 50%;
    display: block;
    margin: 0 auto 0 auto;
    max-width: 60%;
  }
  
  div.cadre-login {
    background-color: white;
    padding: 30px 15% 70px 15%;
    border-radius: 2%;
    border-width: 1px;
    border-style:groove;
    border-color:rgb(172, 172, 172);
  }
  
  label {
      margin: 10px 0;
  }
  
  
  h2 {
    font-family: "Open Sans";
    padding: 5% 0%;
    top: -0.5em;
  }
  
  .element {
    width: 100%;
    height: 100%;
    background-color: #A3A1FB;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 0 45%);
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 45%);
    z-index: -2;
    position: absolute;
    display: flex
  }
  
  h2.skill-title {
    font-family: OCR A Std, monospace;
    color: white;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
  }
  
  input.form-in {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }  