<app-app-header></app-app-header>
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="{{ environment.appImageUrl }}{{ me.avatar }}" alt="">{{ me.firstname }} {{ me.lastname }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a (click)="redirectProfile()"> Mon Profil</a>
                        </li>
                        <li>
                            <a (click)="logout()"><i class="fa fa-sign-out pull-right"></i> Déconnexion</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col" role="main">
<router-outlet></router-outlet>
</div>
<app-app-footer></app-app-footer>
